<%- include('./partials/header.ejs') %>

    <link rel="stylesheet" href="./assets/css/style_feedback.css">

    <div class="main">
        <br>
        <br>
    </div>

<%- include('./partials/footer.ejs') %>

</body>
</html>