<%- include('./partials/header.ejs') %>

    <link rel="stylesheet" href="./css/style_sign_up.css"> 

    <div class="main">
        <section class="Container">
            <div class="Sign_up">
                <h3>Sign up</h3>
                <form action="/sign_up" method="post">
                    <input type="text" name="userName" placeholder="User name" required autofocus/>
                    <input type="email" name="userEmail" placeholder="Email address" required />
                    <input type="number" name="userMobile" placeholder="Mobile No." required />
                    <div class="password">
                        <input id="userSignUpPassword" type="password" name="userPassword" placeholder="Password" required />
                        <button id="showSignUpPassword" type="button"><i class="fa-solid fa-eye"></i></button>
                    </div>
                    <div class="check">
                        <input type="checkbox" id="signupCheck" required>
                        <label for="signupCheck">I accept all terms & condition</label>
                    </div>
                    <input type="submit" value="Sign up">
                </form>
            </div>
            <div id="error" class="hidden" style="color: red; font-size: 12px;"><%= locals.error %></div>
            <div style="position: relative;">
                <hr>
                <p style="display: flex; justify-content: center;"><a href="/sign_in" class="existingUser">Already have an account?</a></p>
            </div>
            <a style="color: white;" href="/sign_up_ngo" class="sign_up_ngo">Sign up as a NGO</a>
        </section>
    </div>

<%- include('./partials/footer.ejs') %>
    
    <script src="./js/script_sign_up.js"></script>
</body>
</html>
