.content{
    display: flex;
    justify-content: space-between;
    padding: 20px 150px 100px 150px;
}
.NGOWebpage:hover {
    text-decoration: underline;
}
@media (max-width: 1200ps) {
    div.main > div.container {
        padding: 20px 0px;
    }
}
